.page-header
	.row
		.span6
			.media.margin-bottom
				=link_to user, :class=>"pull-left" do
					%img.avatar-lg.img-circle{:src=>"#{user.avatar.url(:medium)}"}
				.media-body.margin-top
					=link_to user do
						%h3.media-heading 
							=user.name
						%p
							= user.shots.count
							-if user.shots.count <= 1
								tip
							-else
								tips
							= user.followers.count
							-if user.followers.count <= 1
								Follower
							-else
								Followers
			%p.muted
				=user.bio
		.span6
			%h4
				Recent Tips
			.double-margin-bottom.border-left.padding-left
				-if user.shots.count == 0
					%p.muted
						No Tips yet...
				-else
					-user.shots.limit(3).order("created_at DESC").each do |u|
						= render :partial => "shared/shot_list", :locals => {:c => u} 
					-if user.shots.count > 3
						=link_to user do
							View more
