.container.double-padding-top
	.row
		.span12
			.row
				.span9
					.page-header
						%h1
							About
					%p
						Cur.ly is a network for people with curly hair. Publish tips and tricks o keep your hair healthy and happy
				.span3

