/footer
%footer.footer
	.container
		.row
			.span12
				.row
					.span4
						=image_tag("logo.png", :class => "img" , :width => 90 , :height => 120)
						%p
							Develop your inner curl
						%p.muted
							Cur.ly is a network for people with curly hair. Publish tips and tricks o keep your hair healthy and happy
					.span4
						%h5
							Curl Culture
						%ul.unstyled.no-margin-top
							%li
								%a{ :href => "/site/about"}
									About
							%li
								%a{:href => "mailto:huppcm@gmail.com"}
									Feedback? 
.sub-footer
	.container
		.row
			.span12
				%p.text-center
					Copyright ©
					2013 - 
					=Time.now.year
					Cur.ly
